body {
    font-family: "Arial", sans-serif; /* Cambiar la fuente a Arial */
}


/* Estilos para el contenedor principal */
.container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    margin: 20px; /* Elimina cualquier margen dentro del contenedor */
    padding: 20px; /* Espacio interno alrededor del container del contenedor */
    background-color: #f0f0f0; /* Fondo gris claro */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para la imagen */
.container img {
    max-width: 100px; /* Ajusta el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Borde redondeado de 10 píxeles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
    margin-left: 20px;
    margin-top: 20px;
}


.container h1 {
    font-size: 40px;
    line-height: 1.5;
    color: #6a1b9a;
    margin: 0;
    font-family: "Times New Roman", serif;
}


/* Estilos para el contenedor padre de los enlaces */
.Article {
    display: flex;
    flex-direction: column; /* Dirección de flexión en columna */
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

/* Estilos para los contenedores .SonArticle dentro del contenedor padre */
.Article .SonArticle {
    max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-bottom: 20px; /* Espacio entre los contenedores */
    padding: 20px; /* Espacio interno */
    transition: transform 0.2s ease-in-out; /* Agrega una animación de transformación */
}

/* Agregar una animación de escala al pasar el mouse sobre los contenedores de enlaces */
.Article .SonArticle:hover {
    transform: scale(1.05); /* Escala un 5% más grande al pasar el mouse */
}

/*----------------------------*/

/* Estilos para el contenedor padre */
.bottomContainer {
    display: flex; /* Utiliza flexbox para alinear los contenedores en una fila */
    justify-content: space-between; /* Espacio entre los contenedores */
    margin-left: 60px; /* Margen izquierdo */
    margin-right: 60px; /* Margen derecho */
    margin-bottom: 20px; /* Margen inferior */
    margin-top: 40;
    clear: both; /* Evita solapamiento de elementos flotantes */
    text-align: center; /* Centra todo el container horizontalmente */
}

/* Estilos para el contenedor izquierdo */
.ContLeft {
    flex: 1; /* Expande el contenedor para ocupar el espacio disponible */
    padding: 10px; /* Espacio interno alrededor del container */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Estilos para el contenedor central */
.ContCenter {
    flex: 1; /* Expande el contenedor para ocupar el espacio disponible */
    padding: 10px; /* Espacio interno alrededor del container */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Estilos para el contenedor derecho */
.ContRight {
    flex: 1; /* Expande el contenedor para ocupar el espacio disponible */
    padding: 10px; /* Espacio interno alrededor del container */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-right: 20px;
    margin-bottom: 20px;
}

/*ETIQUETA PARA CENTRAR <H1></H1> DENTRO DEL CONTENEDOR PADRE*/
/* Estilos para centrar el container de las etiquetas h1 dentro de los contenedores */
.ContLeft h2,
.ContCenter h2,
.ContRight h2 {
    text-align: center;
}

/* Estilos para el container de texto dentro de ".acerca-de" */
.ContLeft p,
.ContCenter p,
.ContRight p {
    text-align: center;
    margin-right: 30px;
    padding: 20px;
}

/* Estilos para el contenedor de información a la derecha (formato original) */
.Sub-Inf {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 818px;
    right: 140px;
    bottom: 100px;
    max-width: none;
    text-align: center;
}

/* Estilos para los títulos dentro del Sub-Inf */
.Sub-Inf h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilos para el contenedor de "Información sobre mí" (formato original) */
.acerca-de {
    margin-top: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: none;
}

/* Estilos para el container de texto dentro de ".acerca-de" (formato original) */
.acerca-de p {
    word-wrap: break-word;
    max-width: 100%;
}

/* Estilos para el contenedor de "Suscríbete" (formato original) */
.suscribe {
    margin-bottom: 20px;
}

/* Estilos para el textbox dentro de "Suscríbete" (formato original) */
.suscribe input[type="text"] {
    width: 100%;
    padding: 5px;
}

/* Estilos para el botón dentro de ".suscribe" (formato original) */
.suscribe button {
    background-color: #6a1b9a; /* Lila */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

/* Cambiar el estilo del botón al pasar el mouse sobre él (formato original) */
.suscribe button:hover {
    background-color: #4b137d; /* Lila más oscuro al pasar el mouse */
}

/* Estilos para el pie de página */
.footer {
    text-align: center;
    background-color: #6a1b9a;
    color: white;
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 50px;
    padding-top: 5px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6A0572;
}

::-webkit-scrollbar-thumb:hover {
    background: #16103A;
}




/* Tablets */
@media (min-width: 720px) and (max-width: 1020px) {
    body {
        margin: 20px;
        font-family: "Comic Sans MS", cursive;
    }

    .container img {
        max-width: 80px;
        margin: 10px 0;
        margin-left: 150px;
    }

    .container .text h1 {
        font-size: 32px;
    }

    .Article {
        margin: 0;
    }

    .Article .SonArticle {
        max-width: 100%;
        margin: 10px ;
    }

    .Article .SonArticle p {
        text-align: left;
    }

    .Sub-Inf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        margin-bottom: 10px;
        max-width: none;
        order: 1;
    }

    .Sub-Inf h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 10px;
    }

    .acerca-de, .suscribe {
        flex: 1;
        padding: 10px;
        margin-top: 10px;
    }

    .acerca-de p, .suscribe input[type="text"] {
        text-align: left;
        max-width: 100%;
    }

    .suscribe button {
        width: auto;
        margin-top: 10px;
    }

    .bottomContainer {
        flex-direction: column;
        margin: 10px;
        padding: 20px;
        justify-content: space-between; /* Espacio entre los contenedores */

    }

    .ContLeft, .ContCenter, .ContRight {
        flex: 1;
        padding: 10px;
    }

    .pagina1-contenedor, .pagina2-contenedor, .pagina3-contenedor {
        margin: 10px;
        padding: 20px;

    }
}



/* Ajustes para dispositivos móviles */
@media (max-width: 720px) {
    /* Estilos para el contenedor principal */
    .container {
        display: flex;
        flex-direction: column; /* Dirección de columna para apilar elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        text-align: center; /* Centra el texto horizontalmente */
    }
    
    /* Estilos para el texto */
    .container .text {
        margin: 10px; /* Margen alrededor del texto */
        order: 1; /* Cambia el orden del texto para que aparezca después de la imagen */
    }
    
    .container .text h1 {
        font-size: 30px;
        white-space: nowrap; /* Evita el salto de línea */
        overflow: hidden; /* Oculta el exceso de texto */
        text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el texto es demasiado largo */
    }
    
    /* Estilos para la imagen */
    .container img {
        max-width: 80px; /* Ajusta el ancho máximo de la imagen */
        margin: 10px auto; /* Centra la imagen horizontalmente con margen superior e inferior */
        display: block; /* Evita espacios adicionales debajo de la imagen */
        order: 2; /* Cambia el orden de la imagen para que aparezca antes del texto */
    }
    
    
        .Article {
            margin: 0;
        }
    
        .Article .SonArticle {
            max-width: 100%;
            margin: 10px 0;
        }
    
        .Article .SonArticle p {
            text-align: left;
        }
    
        .Sub-Inf {
            position: static;
            margin: 20px auto;
            max-width: none;
            order: 1;
        }
    
        .acerca-de {
            margin-top: 20px;
            text-align: left;
        }
    
        .suscribe input[type="text"] {
            width: 100%;
        }
    
        .bottomContainer {
            flex-direction: column;
            margin: 0;
            padding: 20px;
        }
    
        .ContLeft, .ContCenter, .ContRight {
            flex: 1;
            padding: 10px;
        }
    
        .pagina1-contenedor, .pagina2-contenedor, .pagina3-contenedor{
            margin: 0;
            padding: 20px;
        }
    }
    